awscli==1.16.290
boto==2.39.0
boto3==1.10.26
botocore==1.13.26
configparser==4.0.2
findspark==1.2.0
joblib==0.11
jsonpatch==1.2
jsonpointer==1.0
jsonschema==2.6.0
matplotlib==2.0.2
numpy==1.13.1
openpyxl==1.8.6
python-dateutil==2.6.1
pandas==0.22.0
pyarrow==0.9.0
PyYAML==5.1.2
requests==1.2.3
scipy==0.17.0
scikit-learn==0.19.1
s3fs==0.1.5
s3io==0.1.1
s3transfer==0.1.13
word2number==1.1
XlsxWriter==1.1.1
xmlrunner==1.7.7
mock==3.0.5
